In [1]:
import pandas as pd 
import numpy as np

In [2]:
filepath = '../data/games.csv'
df = pd.read_csv(filepath)

In [3]:
df.head()

,Unnamed: 0,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,...,home_points,home_line_scores,home_post_win_prob,away_id,away_team,away_conference,away_points,away_line_scores,away_post_win_prob,excitement_index
0,0,212350097,2001,1,regular,2001-08-23T19:00:00.000Z,NaN,False,False,38129.0,...,45.0,[],NaN,166,New Mexico State,Sun Belt,24.0,[],NaN,NaN
1,1,63770,2001,1,regular,2001-08-25T00:00:00.000Z,NaN,False,NaN,NaN,...,21.0,[],NaN,2628,TCU,Conference USA,7.0,[],NaN,NaN
2,2,212370275,2001,1,regular,2001-08-25T14:00:00.000Z,NaN,False,True,76740.0,...,26.0,"[0, 10, 9, 7]",NaN,258,Virginia,ACC,17.0,"[3, 0, 7, 7]",NaN,NaN
3,3,212370252,2001,1,regular,2001-08-25T16:30:00.000Z,NaN,False,True,40008.0,...,70.0,[],NaN,2655,Tulane,Conference USA,35.0,[],NaN,NaN
4,4,212370201,2001,1,regular,2001-08-25T19:45:00.000Z,NaN,False,False,75423.0,...,10.0,"[10, 10, 0, 0]",NaN,153,North Carolina,ACC,0.0,"[0, 7, 0, 13]",NaN,NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'season', 'week', 'season_type', 'start_date',
       'start_time_tbd', 'neutral_site', 'conference_game', 'attendance',
       'venue_id', 'venue', 'home_id', 'home_team', 'home_conference',
       'home_points', 'home_line_scores', 'home_post_win_prob', 'away_id',
       'away_team', 'away_conference', 'away_points', 'away_line_scores',
       'away_post_win_prob', 'excitement_index'],
      dtype='object')

In [5]:
df.shape

(16067, 25)

In [6]:
df.home_id.nunique()

144

In [7]:
df.away_id.nunique()

245

In [8]:
from elo import Rating, quality_1vs1, rate_1vs1

In [9]:
teams = {}
for team in df.away_id.unique():
    teams[team] = Rating(1500)

for team in df.home_id.unique():
    if team in teams.keys():
        pass
    else:
        teams[team] = Rating(1500)

In [10]:
teams

{166: elo.Rating(1500.000),
 2628: elo.Rating(1500.000),
 258: elo.Rating(1500.000),
 2655: elo.Rating(1500.000),
 153: elo.Rating(1500.000),
 59: elo.Rating(1500.000),
 278: elo.Rating(1500.000),
 2426: elo.Rating(1500.000),
 135: elo.Rating(1500.000),
 195: elo.Rating(1500.000),
 2439: elo.Rating(1500.000),
 2287: elo.Rating(1500.000),
 164: elo.Rating(1500.000),
 2198: elo.Rating(1500.000),
 58: elo.Rating(1500.000),
 147: elo.Rating(1500.000),
 282: elo.Rating(1500.000),
 2393: elo.Rating(1500.000),
 70: elo.Rating(1500.000),
 12: elo.Rating(1500.000),
 197: elo.Rating(1500.000),
 41: elo.Rating(1500.000),
 277: elo.Rating(1500.000),
 2309: elo.Rating(1500.000),
 2653: elo.Rating(1500.000),
 97: elo.Rating(1500.000),
 2032: elo.Rating(1500.000),
 2116: elo.Rating(1500.000),
 2447: elo.Rating(1500.000),
 356: elo.Rating(1500.000),
 201: elo.Rating(1500.000),
 193: elo.Rating(1500.000),
 38: elo.Rating(1500.000),
 183: elo.Rating(1500.000),
 231: elo.Rating(1500.000),
 257: elo.Rating(1500.000),
 2050: elo.Rating(1500.000),
 2643: elo.Rating(1500.000),
 52: elo.Rating(1500.000),
 2193: elo.Rating(1500.000),
 2546: elo.Rating(1500.000),
 23: elo.Rating(1500.000),
 154: elo.Rating(1500.000),
 2534: elo.Rating(1500.000),
 2623: elo.Rating(1500.000),
 93: elo.Rating(1500.000),
 68: elo.Rating(1500.000),
 2377: elo.Rating(1500.000),
 276: elo.Rating(1500.000),
 189: elo.Rating(1500.000),
 26: elo.Rating(1500.000),
 275: elo.Rating(1500.000),
 2390: elo.Rating(1500.000),
 328: elo.Rating(1500.000),
 242: elo.Rating(1500.000),
 2567: elo.Rating(1500.000),
 2638: elo.Rating(1500.000),
 2440: elo.Rating(1500.000),
 2509: elo.Rating(1500.000),
 204: elo.Rating(1500.000),
 235: elo.Rating(1500.000),
 84: elo.Rating(1500.000),
 245: elo.Rating(1500.000),
 77: elo.Rating(1500.000),
 2711: elo.Rating(1500.000),
 2006: elo.Rating(1500.000),
 2459: elo.Rating(1500.000),
 333: elo.Rating(1500.000),
 2132: elo.Rating(1500.000),
 331: elo.Rating(1500.000),
 2747: elo.Rating(1500.000),
 2117: elo.Rating(1500.000),
 2635: elo.Rating(1500.000),
 309: elo.Rating(1500.000),
 151: elo.Rating(1500.000),
 254: elo.Rating(1500.000),
 130: elo.Rating(1500.000),
 145: elo.Rating(1500.000),
 2649: elo.Rating(1500.000),
 5: elo.Rating(1500.000),
 252: elo.Rating(1500.000),
 2083: elo.Rating(1500.000),
 2199: elo.Rating(1500.000),
 2084: elo.Rating(1500.000),
 2433: elo.Rating(1500.000),
 2026: elo.Rating(1500.000),
 2306: elo.Rating(1500.000),
 2717: elo.Rating(1500.000),
 113: elo.Rating(1500.000),
 2460: elo.Rating(1500.000),
 326: elo.Rating(1500.000),
 249: elo.Rating(1500.000),
 2579: elo.Rating(1500.000),
 167: elo.Rating(1500.000),
 236: elo.Rating(1500.000),
 87: elo.Rating(1500.000),
 150: elo.Rating(1500.000),
 2348: elo.Rating(1500.000),
 265: elo.Rating(1500.000),
 2633: elo.Rating(1500.000),
 2640: elo.Rating(1500.000),
 21: elo.Rating(1500.000),
 103: elo.Rating(1500.000),
 149: elo.Rating(1500.000),
 259: elo.Rating(1500.000),
 57: elo.Rating(1500.000),
 66: elo.Rating(1500.000),
 127: elo.Rating(1500.000),
 194: elo.Rating(1500.000),
 8: elo.Rating(1500.000),
 2729: elo.Rating(1500.000),
 2305: elo.Rating(1500.000),
 120: elo.Rating(1500.000),
 62: elo.Rating(1500.000),
 25: elo.Rating(1500.000),
 349: elo.Rating(1500.000),
 218: elo.Rating(1500.000),
 2572: elo.Rating(1500.000),
 152: elo.Rating(1500.000),
 55: elo.Rating(1500.000),
 2466: elo.Rating(1500.000),
 2: elo.Rating(1500.000),
 2641: elo.Rating(1500.000),
 251: elo.Rating(1500.000),
 2751: elo.Rating(1500.000),
 9: elo.Rating(1500.000),
 30: elo.Rating(1500.000),
 213: elo.Rating(1500.000),
 158: elo.Rating(1500.000),
 239: elo.Rating(1500.000),
 98: elo.Rating(1500.000),
 36: elo.Rating(1500.000),
 2582: elo.Rating(1500.000),
 228: elo.Rating(1500.000),
 344: elo.Rating(1500.000),
 264: elo.Rating(1500.000),
 24: elo.Rating(1500.000),
 99: elo.Rating(1500.000),
 202: elo.Rating(1500.000),
 2483: elo.Rating(1500.000),
 2005: elo.Rating(1500.000),
 61: elo.Rating(1500.000),
 2294: elo.Rating(1500.000),
 96: elo.Rating(1500.000),
 248: elo.Rating(1500.000),
 221: elo.Rating(1500.000),
 2692: elo.Rating(1500.000),
 142: elo.Rating(1500.000),
 2197: elo.Rating(1500.000),
 2335: elo.Rating(1500.000),
 304: elo.Rating(1500.000),
 1000887: elo.Rating(1500.000),
 253: elo.Rating(1500.000),
 238: elo.Rating(1500.000),
 2710: elo.Rating(1500.000),
 2464: elo.Rating(1500.000),
 79: elo.Rating(1500.000),
 2617: elo.Rating(1500.000),
 2754: elo.Rating(1500.000),
 13: elo.Rating(1500.000),
 2226: elo.Rating(1500.000),
 160: elo.Rating(1500.000),
 2329: elo.Rating(1500.000),
 222: elo.Rating(1500.000),
 50: elo.Rating(1500.000),
 2296: elo.Rating(1500.000),
 16: elo.Rating(1500.000),
 107: elo.Rating(1500.000),
 2535: elo.Rating(1500.000),
 111: elo.Rating(1500.000),
 227: elo.Rating(1500.000),
 2502: elo.Rating(1500.000),
 2630: elo.Rating(1500.000),
 2046: elo.Rating(1500.000),
 2127: elo.Rating(1500.000),
 2755: elo.Rating(1500.000),
 2678: elo.Rating(1500.000),
 2275: elo.Rating(1500.000),
 256: elo.Rating(1500.000),
 2703: elo.Rating(1500.000),
 2142: elo.Rating(1500.000),
 47: elo.Rating(1500.000),
 2545: elo.Rating(1500.000),
 2229: elo.Rating(1500.000),
 48: elo.Rating(1500.000),
 290: elo.Rating(1500.000),
 2415: elo.Rating(1500.000),
 2448: elo.Rating(1500.000),
 311: elo.Rating(1500.000),
 2634: elo.Rating(1500.000),
 2676: elo.Rating(1500.000),
 2542: elo.Rating(1500.000),
 1000899: elo.Rating(1500.000),
 302: elo.Rating(1500.000),
 2016: elo.Rating(1500.000),
 2011: elo.Rating(1500.000),
 2449: elo.Rating(1500.000),
 2569: elo.Rating(1500.000),
 2110: elo.Rating(1500.000),
 2241: elo.Rating(1500.000),
 2210: elo.Rating(1500.000),
 2458: elo.Rating(1500.000),
 2706: elo.Rating(1500.000),
 2450: elo.Rating(1500.000),
 2169: elo.Rating(1500.000),
 2115: elo.Rating(1500.000),
 2029: elo.Rating(1500.000),
 2428: elo.Rating(1500.000),
 2413: elo.Rating(1500.000),
 2571: elo.Rating(1500.000),
 324: elo.Rating(1500.000),
 119: elo.Rating(1500.000),
 2010: elo.Rating(1500.000),
 155: elo.Rating(1500.000),
 2400: elo.Rating(1500.000),
 2504: elo.Rating(1500.000),
 2506: elo.Rating(1500.000),
 2261: elo.Rating(1500.000),
 233: elo.Rating(1500.000),
 2619: elo.Rating(1500.000),
 2247: elo.Rating(1500.000),
 2230: elo.Rating(1500.000),
 6: elo.Rating(1500.000),
 2065: elo.Rating(1500.000),
 2681: elo.Rating(1500.000),
 2636: elo.Rating(1500.000),
 2320: elo.Rating(1500.000),
 2837: elo.Rating(1500.000),
 2823: elo.Rating(1500.000),
 295: elo.Rating(1500.000),
 399: elo.Rating(1500.000),
 2000: elo.Rating(1500.000),
 2097: elo.Rating(1500.000),
 2184: elo.Rating(1500.000),
 2429: elo.Rating(1500.000),
 301: elo.Rating(1500.000),
 2405: elo.Rating(1500.000),
 2916: elo.Rating(1500.000),
 2382: elo.Rating(1500.000),
 2277: elo.Rating(1500.000),
 322: elo.Rating(1500.000),
 338: elo.Rating(1500.000),
 2181: elo.Rating(1500.000),
 2523: elo.Rating(1500.000),
 2453: elo.Rating(1500.000),
 43: elo.Rating(1500.000)}

In [11]:
for index, game in df.iterrows():
    if game['home_points'] > game['away_points']:
        teams[game['home_id']], teams[game['away_id']] = rate_1vs1(teams[game['home_id']], teams[game['away_id']])
    elif game['home_points'] < game['away_points']:
        teams[game['away_id']], teams[game['home_id']] = rate_1vs1(teams[game['away_id']], teams[game['home_id']])
    else:
        teams[game['home_id']], teams[game['away_id']] = rate_1vs1(teams[game['home_id']], teams[game['away_id']], drawn=True)

In [12]:
teams

{166: 1297.3465578351627,
 2628: 1668.6688377495695,
 258: 1542.0880615422604,
 2655: 1422.6386240672489,
 153: 1567.0349875332008,
 59: 1586.6720678586798,
 278: 1525.8822917984603,
 2426: 1565.8064932804796,
 135: 1593.101571910054,
 195: 1506.2327935868434,
 2439: 1381.8331980704784,
 2287: 1454.5304186913572,
 164: 1454.7090720260635,
 2198: 1390.7294498528552,
 58: 1538.4943466510942,
 147: 1430.2922451597033,
 282: 1408.134135880158,
 2393: 1458.995669687125,
 70: 1329.9316976436057,
 12: 1538.9051084128184,
 197: 1703.8377346676061,
 41: 1371.6482000987291,
 277: 1650.5177632357354,
 2309: 1369.1665188911718,
 2653: 1509.0505841525583,
 97: 1607.0944475843905,
 2032: 1519.3287533444488,
 2116: 1624.6718388603078,
 2447: 1389.7808793508007,
 356: 1460.402957192991,
 201: 1806.655821022029,
 193: 1411.1509124285953,
 38: 1499.0357175447307,
 183: 1527.7236672177846,
 231: 1440.5577864328563,
 257: 1451.5825926501657,
 2050: 1401.0781268710273,
 2643: 1423.3435465903442,
 52: 1671.0260302031043,
 2193: 1472.5837970403609,
 2546: 1413.4853535777736,
 23: 1395.310006208522,
 154: 1544.2261646627855,
 2534: 1432.571916952938,
 2623: 1415.7169356162933,
 93: 1401.9553731259311,
 68: 1724.0337224808493,
 2377: 1459.5224990722318,
 276: 1552.594456415591,
 189: 1417.1958734776615,
 26: 1559.4206643617833,
 275: 1726.2708953251051,
 2390: 1638.5530173331802,
 328: 1524.7169827461598,
 242: 1370.1843948105561,
 2567: 1495.8756482742094,
 2638: 1310.0847303580892,
 2440: 1497.1792239865151,
 2509: 1481.564631997725,
 204: 1483.741094313068,
 235: 1558.4764113637523,
 84: 1505.2078889580273,
 245: 1672.734294309033,
 77: 1592.888474794923,
 2711: 1507.4772513911257,
 2006: 1348.2754661912527,
 2459: 1543.8842143453082,
 333: 1870.9975511890195,
 2132: 1614.7367481436343,
 331: 1446.923685971537,
 2747: 1421.0487632568697,
 2117: 1457.6266567847265,
 2635: 1414.1087150600815,
 309: 1505.0341183883602,
 151: 1453.9126068033627,
 254: 1673.8532745995542,
 130: 1688.9147604142374,
 145: 1569.7571484812972,
 2649: 1557.7679247150868,
 5: 1476.3251502072862,
 252: 1610.5696682918162,
 2083: 1483.2387004124994,
 2199: 1374.8016211038057,
 2084: 1437.7573836079687,
 2433: 1387.7562774607857,
 2026: 1593.8039204408692,
 2306: 1647.9197207393304,
 2717: 1404.5012641271564,
 113: 1315.7381717400465,
 2460: 1445.3504018555439,
 326: 1344.2399669606473,
 249: 1406.5977744745364,
 2579: 1616.350105641137,
 167: 1387.7113675780056,
 236: 1432.9131525067223,
 87: 1732.1334609538185,
 150: 1520.7926084506182,
 2348: 1541.1813307001223,
 265: 1579.9925407784199,
 2633: 1612.8512947800857,
 2640: 1434.1006731595562,
 21: 1583.405138482147,
 103: 1577.7293830054923,
 149: 1484.2474182568135,
 259: 1644.2626183457176,
 57: 1715.2527959869838,
 66: 1560.7009594770534,
 127: 1660.9069750584454,
 194: 1843.9765954686666,
 8: 1538.4243850897235,
 2729: 1429.7242606091024,
 2305: 1394.720220087898,
 120: 1504.0988663497408,
 62: 1479.7189831668102,
 25: 1569.645203842333,
 349: 1466.3981807040152,
 218: 1532.504930969708,
 2572: 1470.3356525847846,
 152: 1589.378582237223,
 55: 1452.973602384096,
 2466: 1409.239886052264,
 2: 1703.128925211963,
 2641: 1562.1183959866678,
 251: 1665.519233973493,
 2751: 1484.1719474619963,
 9: 1602.9162585090662,
 30: 1693.3512902814523,
 213: 1698.4372408018057,
 158: 1592.9320072751955,
 239: 1629.1406502367447,
 98: 1497.345606351707,
 36: 1464.3181852681498,
 2582: 1426.271247547484,
 228: 1841.848708701025,
 344: 1621.887026108235,
 264: 1653.5540953760146,
 24: 1668.9488924000111,
 99: 1790.0119748077907,
 202: 1467.59523924889,
 2483: 1717.110555482937,
 2005: 1554.0525194304391,
 61: 1780.8211101214185,
 2294: 1658.8311928742626,
 96: 1581.415668568762,
 248: 1566.6554368398224,
 221: 1598.7760317355132,
 2692: 1398.6214494882697,
 142: 1615.9631806583275,
 2197: 1426.3440064379522,
 2335: 1478.641971548398,
 304: 1386.7783134881097,
 1000887: 1494.936162864818,
 253: 1407.691263238357,
 238: 1500.0783936492776,
 2710: 1441.9566484786806,
 2464: 1424.644685249254,
 79: 1435.1294649257873,
 2617: 1417.3683137533021,
 2754: 1448.8273825362378,
 13: 1426.0735444161012,
 2226: 1479.7992622207512,
 160: 1472.3190011605961,
 2329: 1495.3535145470032,
 222: 1460.4404016893454,
 50: 1422.0652338369623,
 2296: 1452.7187641045546,
 16: 1423.0511770656167,
 107: 1485.8027352055678,
 2535: 1438.2953073446267,
 111: 1475.691273193038,
 227: 1421.8426203645267,
 2502: 1423.2321233421576,
 2630: 1401.4455762832822,
 2046: 1411.7307140007395,
 2127: 1423.1141563035303,
 2755: 1417.9243296466695,
 2678: 1403.0100464128855,
 2275: 1481.971657047927,
 256: 1465.345890707838,
 2703: 1494.922242891705,
 2142: 1462.9410759646203,
 47: 1414.4540141589778,
 2545: 1390.153666118611,
 2229: 1424.9509832762126,
 48: 1468.3167397411098,
 290: 1489.6725624182122,
 2415: 1409.8886473955677,
 2448: 1488.307018572889,
 311: 1432.812781463235,
 2634: 1473.2134941252673,
 2676: 1494.6559593279787,
 2542: 1435.8410689631794,
 1000899: 1495.0446048963709,
 302: 1438.2505038423978,
 2016: 1423.9277092524503,
 2011: 1450.8827637836116,
 2449: 1529.0567723689162,
 2569: 1431.1158222606466,
 2110: 1451.0397840949327,
 2241: 1426.5283321864194,
 2210: 1445.1261854932757,
 2458: 1440.5745535854567,
 2706: 1494.6005875223748,
 2450: 1437.4085697867674,
 2169: 1451.9888858124723,
 2115: 1476.2760968127302,
 2029: 1458.475855363455,
 2428: 1437.1606724518188,
 2413: 1494.8177535382042,
 2571: 1469.5239941872169,
 324: 1448.3794630827801,
 119: 1456.586849857743,
 2010: 1450.5679934769116,
 155: 1459.5927851086142,
 2400: 1479.7761811907494,
 2504: 1453.440996347353,
 2506: 1438.282494415315,
 2261: 1475.3558045202865,
 233: 1473.6677553279392,
 2619: 1452.5513288675193,
 2247: 1407.462978029845,
 2230: 1463.6412985850218,
 6: 1386.2191943188764,
 2065: 1465.8745432828455,
 2681: 1442.8888945527797,
 2636: 1428.0999836757842,
 2320: 1460.7724870479683,
 2837: 1495.0697063191797,
 2823: 1495.2081590131945,
 295: 1425.8575407750795,
 399: 1477.9344889535216,
 2000: 1449.216076892709,
 2097: 1462.0720533793506,
 2184: 1480.4928049914633,
 2429: 1416.3498453959598,
 301: 1495.1623584299962,
 2405: 1476.3891500272828,
 2916: 1457.2761042117409,
 2382: 1483.2114907219582,
 2277: 1455.7697172483763,
 322: 1486.9704245325104,
 338: 1486.4943802630933,
 2181: 1495.3062111650495,
 2523: 1493.8250816012526,
 2453: 1495.8111127713394,
 43: 1502.758515145279}

In [13]:
# Michigan team id = 130
teams[130]

1688.9147604142374

In [16]:
from operator import itemgetter

top_five = dict(sorted(teams.items(), key = itemgetter(1), reverse = True)[:5])
top_five

{333: 1870.9975511890195,
 194: 1843.9765954686666,
 228: 1841.848708701025,
 201: 1806.655821022029,
 99: 1790.0119748077907}

In [25]:
df.loc[df['away_id'] == 99]['away_team']

223      LSU
335      LSU
360      LSU
486      LSU
706      LSU
        ...
15587    LSU
15650    LSU
15747    LSU
15902    LSU
15943    LSU
Name: away_team, Length: 101, dtype: object

In [28]:
top_five['Alabama'] = top_five.pop(333)
top_five['Ohio State'] = top_five.pop(194)
top_five['Clemson'] = top_five.pop(228)
top_five['Oklahoma'] = top_five.pop(201)
top_five['LSU'] = top_five.pop(99)

In [29]:
top_five

{'Alabama': 1870.9975511890195,
 'Ohio State': 1843.9765954686666,
 'Clemson': 1841.848708701025,
 'Oklahoma': 1806.655821022029,
 'LSU': 1790.0119748077907}

In [33]:
bottom_five = dict(sorted(teams.items(), key = itemgetter(1), reverse = True)[-5:])
bottom_five

{326: 1344.2399669606473,
 70: 1329.9316976436057,
 113: 1315.7381717400465,
 2638: 1310.0847303580892,
 166: 1297.3465578351627}

In [40]:
df.loc[df['away_id'] == 166]['away_team']

0        New Mexico State
44       New Mexico State
142      New Mexico State
220      New Mexico State
259      New Mexico State
               ...
14842    New Mexico State
14986    New Mexico State
15099    New Mexico State
15219    New Mexico State
15383    New Mexico State
Name: away_team, Length: 124, dtype: object

In [42]:
bottom_five['Texas State'] = bottom_five.pop(326)
bottom_five['Idaho'] = bottom_five.pop(70)
bottom_five['UMass'] = bottom_five.pop(113)
bottom_five['UTEP'] = bottom_five.pop(2638)
bottom_five['New Mexico State'] = bottom_five.pop(166)

In [43]:
bottom_five

{'Texas State': 1344.2399669606473,
 'Idaho': 1329.9316976436057,
 'UMass': 1315.7381717400465,
 'UTEP': 1310.0847303580892,
 'New Mexico State': 1297.3465578351627}

In [48]:
json_teams = {}
for key, value in teams.items():
    json_teams[int(key)] = teams[key]

In [51]:
import json

with open("ELO_scores.json", "w") as outfile:  
    json.dump(json_teams, outfile)