In [1]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import sklearn
import json
import ast

In [2]:
# Find ELO and Total points
df = pd.read_csv("../data/play_by_play_fbs_regular_all.csv")

In [3]:
np.random.seed(12)

In [4]:
sample = df.sample(100_000).copy()

In [5]:
df.head()

,id,offense,offense_conference,defense,defense_conference,home,away,offense_score,defense_score,game_id,...,defense_timeouts,yard_line,yards_to_goal,down,distance,scoring,yards_gained,play_type,play_text,ppa
0,252462005002,Washington,Pac-10,Air Force,Mountain West,Air Force,Washington,0,0,252462005,...,NaN,75,75,1,10,False,0,Rush,"Louis Rankin rush for 2 yards to the Wash27, c...",-0.702970
1,252462005003,Washington,Pac-10,Air Force,Mountain West,Air Force,Washington,0,0,252462005,...,NaN,73,73,2,8,False,0,Rush,"Louis Rankin rush for 6 yards to the Wash33, c...",-0.478808
2,252462005004,Washington,Pac-10,Air Force,Mountain West,Air Force,Washington,0,0,252462005,...,NaN,67,67,3,2,False,0,Rush,Isaiah Stanback rush for loss of 1 yard to the...,-0.601314
3,252462005005,Washington,Pac-10,Air Force,Mountain West,Air Force,Washington,0,0,252462005,...,NaN,68,68,4,3,False,0,Punt,"Felix Sweetman punt 49 yards to the AFA19, Jac...",NaN
4,252462005006,Air Force,Mountain West,Washington,Pac-10,Air Force,Washington,0,0,252462005,...,NaN,31,69,1,10,False,0,Pass,Shaun Carney pass complete to Greg Kirkwood fo...,-0.894781

In [6]:
df.columns

Index(['id', 'offense', 'offense_conference', 'defense', 'defense_conference',
       'home', 'away', 'offense_score', 'defense_score', 'game_id', 'drive_id',
       'drive_number', 'play_number', 'period', 'clock', 'offense_timeouts',
       'defense_timeouts', 'yard_line', 'yards_to_goal', 'down', 'distance',
       'scoring', 'yards_gained', 'play_type', 'play_text', 'ppa'],
      dtype='object')

In [7]:
team_id = pd.read_csv('../data/games.csv')

In [8]:
team_id.columns

Index(['Unnamed: 0', 'id', 'season', 'week', 'season_type', 'start_date',
       'start_time_tbd', 'neutral_site', 'conference_game', 'attendance',
       'venue_id', 'venue', 'home_id', 'home_team', 'home_conference',
       'home_points', 'home_line_scores', 'home_post_win_prob', 'away_id',
       'away_team', 'away_conference', 'away_points', 'away_line_scores',
       'away_post_win_prob', 'excitement_index'],
      dtype='object')

In [9]:
with open('../data/ELO_scores.json') as f:
  ELO_scores = json.load(f)

In [10]:
ELO_scores

{'150': 1520.7926084506182,
 '2348': 1541.1813307001223,
 '265': 1579.9925407784199,
 '2633': 1612.8512947800857,
 '2640': 1434.1006731595562,
 '21': 1583.405138482147,
 '103': 1577.7293830054923,
 '149': 1484.2474182568135,
 '259': 1644.2626183457176,
 '57': 1715.2527959869838,
 '66': 1560.7009594770534,
 '127': 1660.9069750584454,
 '194': 1843.9765954686666,
 '8': 1538.4243850897235,
 '2729': 1429.7242606091024,
 '2305': 1394.720220087898,
 '120': 1504.0988663497408,
 '62': 1479.7189831668102,
 '25': 1569.645203842333,
 '349': 1466.3981807040152,
 '218': 1532.504930969708,
 '2572': 1470.3356525847846,
 '152': 1589.378582237223,
 '55': 1452.973602384096,
 '2466': 1409.239886052264,
 '2': 1703.128925211963,
 '2641': 1562.1183959866678,
 '251': 1665.519233973493,
 '2751': 1484.1719474619963,
 '9': 1602.9162585090662,
 '30': 1693.3512902814523,
 '213': 1698.4372408018057,
 '158': 1592.9320072751955,
 '239': 1629.1406502367447,
 '98': 1497.345606351707,
 '36': 1464.3181852681498,
 '2582': 1426.271247547484,
 '228': 1841.848708701025,
 '344': 1621.887026108235,
 '264': 1653.5540953760146,
 '24': 1668.9488924000111,
 '99': 1790.0119748077907,
 '202': 1467.59523924889,
 '2483': 1717.110555482937,
 '2005': 1554.0525194304391,
 '61': 1780.8211101214185,
 '2294': 1658.8311928742626,
 '96': 1581.415668568762,
 '248': 1566.6554368398224,
 '221': 1598.7760317355132,
 '2692': 1398.6214494882697,
 '142': 1615.9631806583275,
 '2197': 1426.3440064379522,
 '2335': 1478.641971548398,
 '304': 1386.7783134881097,
 '1000887': 1494.936162864818,
 '253': 1407.691263238357,
 '238': 1500.0783936492776,
 '2710': 1441.9566484786806,
 '2464': 1424.644685249254,
 '79': 1435.1294649257873,
 '2617': 1417.3683137533021,
 '2754': 1448.8273825362378,
 '13': 1426.0735444161012,
 '2226': 1479.7992622207512,
 '160': 1472.3190011605961,
 '2329': 1495.3535145470032,
 '222': 1460.4404016893454,
 '50': 1422.0652338369623,
 '2296': 1452.7187641045546,
 '16': 1423.0511770656167,
 '107': 1485.8027352055678,
 '2535': 1438.2953073446267,
 '111': 1475.691273193038,
 '227': 1421.8426203645267,
 '2502': 1423.2321233421576,
 '2630': 1401.4455762832822,
 '2046': 1411.7307140007395,
 '2127': 1423.1141563035303,
 '2755': 1417.9243296466695,
 '2678': 1403.0100464128855,
 '2275': 1481.971657047927,
 '256': 1465.345890707838,
 '2703': 1494.922242891705,
 '2142': 1462.9410759646203,
 '47': 1414.4540141589778,
 '2545': 1390.153666118611,
 '2229': 1424.9509832762126,
 '48': 1468.3167397411098,
 '290': 1489.6725624182122,
 '2415': 1409.8886473955677,
 '2448': 1488.307018572889,
 '311': 1432.812781463235,
 '2634': 1473.2134941252673,
 '2676': 1494.6559593279787,
 '2542': 1435.8410689631794,
 '1000899': 1495.0446048963709,
 '302': 1438.2505038423978,
 '2016': 1423.9277092524503,
 '2011': 1450.8827637836116,
 '2449': 1529.0567723689162,
 '2569': 1431.1158222606466,
 '2110': 1451.0397840949327,
 '2241': 1426.5283321864194,
 '2210': 1445.1261854932757,
 '2458': 1440.5745535854567,
 '2706': 1494.6005875223748,
 '2450': 1437.4085697867674,
 '2169': 1451.9888858124723,
 '2115': 1476.2760968127302,
 '2029': 1458.475855363455,
 '2428': 1437.1606724518188,
 '2413': 1494.8177535382042,
 '2571': 1469.5239941872169,
 '324': 1448.3794630827801,
 '119': 1456.586849857743,
 '2010': 1450.5679934769116,
 '155': 1459.5927851086142,
 '2400': 1479.7761811907494,
 '2504': 1453.440996347353,
 '2506': 1438.282494415315,
 '2261': 1475.3558045202865,
 '233': 1473.6677553279392,
 '2619': 1452.5513288675193,
 '2247': 1407.462978029845,
 '2230': 1463.6412985850218,
 '6': 1386.2191943188764,
 '2065': 1465.8745432828455,
 '2681': 1442.8888945527797,
 '2636': 1428.0999836757842,
 '2320': 1460.7724870479683,
 '2837': 1495.0697063191797,
 '2823': 1495.2081590131945,
 '295': 1425.8575407750795,
 '399': 1477.9344889535216,
 '2000': 1449.216076892709,
 '2097': 1462.0720533793506,
 '2184': 1480.4928049914633,
 '2429': 1416.3498453959598,
 '301': 1495.1623584299962,
 '2405': 1476.3891500272828,
 '2916': 1457.2761042117409,
 '2382': 1483.2114907219582,
 '2277': 1455.7697172483763,
 '322': 1486.9704245325104,
 '338': 1486.4943802630933,
 '2181': 1495.3062111650495,
 '2523': 1493.8250816012526,
 '2453': 1495.8111127713394,
 '43': 1502.758515145279,
 '166': 1297.3465578351627,
 '2628': 1668.6688377495695,
 '258': 1542.0880615422604,
 '2655': 1422.6386240672489,
 '153': 1567.0349875332008,
 '59': 1586.6720678586798,
 '278': 1525.8822917984603,
 '2426': 1565.8064932804796,
 '135': 1593.101571910054,
 '195': 1506.2327935868434,
 '2439': 1381.8331980704784,
 '2287': 1454.5304186913572,
 '164': 1454.7090720260635,
 '2198': 1390.7294498528552,
 '58': 1538.4943466510942,
 '147': 1430.2922451597033,
 '282': 1408.134135880158,
 '2393': 1458.995669687125,
 '70': 1329.9316976436057,
 '12': 1538.9051084128184,
 '197': 1703.8377346676061,
 '41': 1371.6482000987291,
 '277': 1650.5177632357354,
 '2309': 1369.1665188911718,
 '2653': 1509.0505841525583,
 '97': 1607.0944475843905,
 '2032': 1519.3287533444488,
 '2116': 1624.6718388603078,
 '2447': 1389.7808793508007,
 '356': 1460.402957192991,
 '201': 1806.655821022029,
 '193': 1411.1509124285953,
 '38': 1499.0357175447307,
 '183': 1527.7236672177846,
 '231': 1440.5577864328563,
 '257': 1451.5825926501657,
 '2050': 1401.0781268710273,
 '2643': 1423.3435465903442,
 '52': 1671.0260302031043,
 '2193': 1472.5837970403609,
 '2546': 1413.4853535777736,
 '23': 1395.310006208522,
 '154': 1544.2261646627855,
 '2534': 1432.571916952938,
 '2623': 1415.7169356162933,
 '93': 1401.9553731259311,
 '68': 1724.0337224808493,
 '2377': 1459.5224990722318,
 '276': 1552.594456415591,
 '189': 1417.1958734776615,
 '26': 1559.4206643617833,
 '275': 1726.2708953251051,
 '2390': 1638.5530173331802,
 '328': 1524.7169827461598,
 '242': 1370.1843948105561,
 '2567': 1495.8756482742094,
 '2638': 1310.0847303580892,
 '2440': 1497.1792239865151,
 '2509': 1481.564631997725,
 '204': 1483.741094313068,
 '235': 1558.4764113637523,
 '84': 1505.2078889580273,
 '245': 1672.734294309033,
 '77': 1592.888474794923,
 '2711': 1507.4772513911257,
 '2006': 1348.2754661912527,
 '2459': 1543.8842143453082,
 '333': 1870.9975511890195,
 '2132': 1614.7367481436343,
 '331': 1446.923685971537,
 '2747': 1421.0487632568697,
 '2117': 1457.6266567847265,
 '2635': 1414.1087150600815,
 '309': 1505.0341183883602,
 '151': 1453.9126068033627,
 '254': 1673.8532745995542,
 '130': 1688.9147604142374,
 '145': 1569.7571484812972,
 '2649': 1557.7679247150868,
 '5': 1476.3251502072862,
 '252': 1610.5696682918162,
 '2083': 1483.2387004124994,
 '2199': 1374.8016211038057,
 '2084': 1437.7573836079687,
 '2433': 1387.7562774607857,
 '2026': 1593.8039204408692,
 '2306': 1647.9197207393304,
 '2717': 1404.5012641271564,
 '113': 1315.7381717400465,
 '2460': 1445.3504018555439,
 '326': 1344.2399669606473,
 '249': 1406.5977744745364,
 '2579': 1616.350105641137,
 '167': 1387.7113675780056,
 '236': 1432.9131525067223,
 '87': 1732.1334609538185}

In [11]:
team_elo = {}

In [12]:
for index, row in team_id.iterrows():
    if row['home_team'] in team_elo.keys():
        pass
    else:
        team_elo[row['home_team']] = ELO_scores[str(row['home_id'])]
    if row['away_team'] in team_elo.keys():
        pass
    else:
        team_elo[row['away_team']] = ELO_scores[str(row['away_id'])]

In [13]:
team_elo

{'Louisville': 1607.0944475843905,
 'New Mexico State': 1297.3465578351627,
 'Nebraska': 1592.9320072751955,
 'TCU': 1668.6688377495695,
 'Wisconsin': 1726.2708953251051,
 'Virginia': 1542.0880615422604,
 'BYU': 1610.5696682918162,
 'Tulane': 1422.6386240672489,
 'Oklahoma': 1806.655821022029,
 'North Carolina': 1567.0349875332008,
 'Syracuse': 1527.7236672177846,
 'Georgia Tech': 1586.6720678586798,
 'Colorado': 1499.0357175447307,
 'Fresno State': 1525.8822917984603,
 'Temple': 1532.504930969708,
 'Navy': 1565.8064932804796,
 'Toledo': 1557.7679247150868,
 'Minnesota': 1593.101571910054,
 'Akron': 1348.2754661912527,
 'Ohio': 1506.2327935868434,
 'Arkansas': 1538.4243850897235,
 'UNLV': 1381.8331980704784,
 'Western Michigan': 1507.4772513911257,
 'Illinois State': 1454.5304186913572,
 'Buffalo': 1437.7573836079687,
 'Rutgers': 1454.7090720260635,
 'Central Michigan': 1457.6266567847265,
 'Eastern Kentucky': 1390.7294498528552,
 'Northern Illinois': 1543.8842143453082,
 'South Florida': 1538.4943466510942,
 'UAB': 1476.3251502072862,
 'Montana State': 1430.2922451597033,
 'Tulsa': 1467.59523924889,
 'Indiana State': 1408.134135880158,
 'Vanderbilt': 1500.0783936492776,
 'Middle Tennessee': 1458.995669687125,
 'Washington State': 1579.9925407784199,
 'Idaho': 1329.9316976436057,
 'San Diego State': 1583.405138482147,
 'Arizona': 1538.9051084128184,
 'Maryland': 1504.0988663497408,
 'Southern Mississippi': 1470.3356525847846,
 'Oklahoma State': 1703.8377346676061,
 'Virginia Tech': 1644.2626183457176,
 'Connecticut': 1371.6482000987291,
 'Boston College': 1577.7293830054923,
 'West Virginia': 1650.5177632357354,
 'Iowa': 1658.8311928742626,
 'Kent State': 1369.1665188911718,
 'Troy': 1509.0505841525583,
 'Kentucky': 1581.415668568762,
 'Georgia': 1780.8211101214185,
 'Arkansas State': 1519.3287533444488,
 'Clemson': 1841.848708701025,
 'UCF': 1624.6718388603078,
 'Louisiana': 1505.0341183883602,
 'Nicholls': 1389.7808793508007,
 'California': 1569.645203842333,
 'Illinois': 1460.402957192991,
 'Air Force': 1554.0525194304391,
 'Michigan': 1688.9147604142374,
 'Miami (OH)': 1411.1509124285953,
 'Colorado State': 1464.3181852681498,
 'Tennessee': 1612.8512947800857,
 'Wyoming': 1484.1719474619963,
 'Furman': 1440.5577864328563,
 'Richmond': 1451.5825926501657,
 'Auburn': 1703.128925211963,
 'Ball State': 1401.0781268710273,
 'The Citadel': 1423.3435465903442,
 'Duke': 1520.7926084506182,
 'Florida State': 1671.0260302031043,
 'Pittsburgh': 1598.7760317355132,
 'East Tennessee State': 1472.5837970403609,
 'Eastern Michigan': 1374.8016211038057,
 'Southeast Missouri State': 1413.4853535777736,
 'USC': 1693.3512902814523,
 'San José State': 1395.310006208522,
 'East Carolina': 1453.9126068033627,
 'Wake Forest': 1544.2261646627855,
 'Texas': 1665.519233973493,
 'Louisiana Monroe': 1387.7562774607857,
 'Sam Houston State': 1432.571916952938,
 'Kansas': 1394.720220087898,
 'Missouri State': 1415.7169356162933,
 'Ole Miss': 1569.7571484812972,
 'Murray State': 1401.9553731259311,
 'South Carolina': 1616.350105641137,
 'Boise State': 1724.0337224808493,
 'Texas A&M': 1672.734294309033,
 'McNeese': 1459.5224990722318,
 'Florida': 1715.2527959869838,
 'Marshall': 1552.594456415591,
 'Missouri': 1615.9631806583275,
 'Bowling Green': 1417.1958734776615,
 'Alabama': 1870.9975511890195,
 'UCLA': 1559.4206643617833,
 'LSU': 1790.0119748077907,
 'Oregon': 1717.110555482937,
 'Penn State': 1698.4372408018057,
 'Miami': 1638.5530173331802,
 'Utah': 1673.8532745995542,
 'Utah State': 1524.7169827461598,
 'Houston': 1566.6554368398224,
 'Rice': 1370.1843948105561,
 'Louisiana Tech': 1541.1813307001223,
 'SMU': 1495.8756482742094,
 'North Texas': 1406.5977744745364,
 'New Mexico': 1387.7113675780056,
 'UTEP': 1310.0847303580892,
 'Nevada': 1497.1792239865151,
 'Cincinnati': 1614.7367481436343,
 'Purdue': 1481.564631997725,
 'Oregon State': 1483.741094313068,
 'Mississippi State': 1621.887026108235,
 'Memphis': 1558.4764113637523,
 'NC State': 1589.378582237223,
 'Indiana': 1505.2078889580273,
 'Northwestern': 1592.888474794923,
 'Ohio State': 1843.9765954686666,
 'Army': 1466.3981807040152,
 'Eastern Washington': 1446.923685971537,
 'Wofford': 1421.0487632568697,
 'Michigan State': 1660.9069750584454,
 'Tennessee Tech': 1414.1087150600815,
 'Washington': 1653.5540953760146,
 'Bucknell': 1483.2387004124994,
 'Appalachian State': 1593.8039204408692,
 'Kansas State': 1647.9197207393304,
 'Western Carolina': 1404.5012641271564,
 'Baylor': 1629.1406502367447,
 'UMass': 1315.7381717400465,
 'Iowa State': 1560.7009594770534,
 'Northern Iowa': 1445.3504018555439,
 'Texas State': 1344.2399669606473,
 'Texas Tech': 1562.1183959866678,
 'Chattanooga': 1432.9131525067223,
 'Notre Dame': 1732.1334609538185,
 'Texas Southern': 1434.1006731595562,
 'Arizona State': 1602.9162585090662,
 'Stanford': 1668.9488924000111,
 "Hawai'i": 1479.7189831668102,
 'Montana': 1484.2474182568135,
 'William & Mary': 1429.7242606091024,
 'Jacksonville State': 1452.973602384096,
 'Northwestern State': 1409.239886052264,
 'Western Kentucky': 1497.345606351707,
 'Southern': 1426.271247547484,
 'Weber State': 1398.6214494882697,
 'Eastern Illinois': 1426.3440064379522,
 'Liberty': 1478.641971548398,
 'Idaho State': 1386.7783134881097,
 'Cal State Northridge': 1494.936162864818,
 'Southern Utah': 1407.691263238357,
 'Western Illinois': 1441.9566484786806,
 'Northern Arizona': 1424.644685249254,
 'Southern Illinois': 1435.1294649257873,
 'Stephen F. Austin': 1417.3683137533021,
 'Youngstown State': 1448.8273825362378,
 'Cal Poly': 1426.0735444161012,
 'Florida Atlantic': 1479.7992622207512,
 'New Hampshire': 1472.3190011605961,
 'Lehigh': 1495.3535145470032,
 'Villanova': 1460.4404016893454,
 'Florida A&M': 1422.0652338369623,
 'Jackson State': 1452.7187641045546,
 'Sacramento State': 1423.0511770656167,
 'Holy Cross': 1485.8027352055678,
 'Samford': 1438.2953073446267,
 'Northeastern': 1475.691273193038,
 'Rhode Island': 1421.8426203645267,
 'Portland State': 1423.2321233421576,
 'UT Martin': 1401.4455762832822,
 'Austin Peay': 1411.7307140007395,
 'Charleston Southern': 1423.1141563035303,
 'Grambling': 1417.9243296466695,
 'VMI': 1403.0100464128855,
 'Hofstra': 1481.971657047927,
 'James Madison': 1465.345890707838,
 'Western New Mexico': 1494.922242891705,
 'Colgate': 1462.9410759646203,
 'Howard': 1414.4540141589778,
 'Southeastern Louisiana': 1390.153666118611,
 'Florida International': 1424.9509832762126,
 'Delaware': 1468.3167397411098,
 'Georgia Southern': 1489.6725624182122,
 'Morgan State': 1409.8886473955677,
 'North Carolina A&T': 1488.307018572889,
 'Maine': 1432.812781463235,
 'Tennessee State': 1473.2134941252673,
 'Virginia Union': 1494.6559593279787,
 'Northern Colorado': 1440.5745535854567,
 'Savannah State': 1435.8410689631794,
 'Bethune-Cookman': 1465.8745432828455,
 'Edward Waters': 1495.0446048963709,
 'UC Davis': 1438.2505038423978,
 'Alcorn State': 1423.9277092524503,
 'Alabama State': 1450.8827637836116,
 'North Dakota State': 1529.0567723689162,
 'South Carolina State': 1431.1158222606466,
 'Central Arkansas': 1451.0397840949327,
 'Gardner-Webb': 1426.5283321864194,
 'Elon': 1445.1261854932757,
 'West Virginia Tech': 1494.6005875223748,
 'Norfolk State': 1437.4085697867674,
 'Delaware State': 1451.9888858124723,
 'Central Connecticut': 1476.2760968127302,
 'Arkansas-Pine Bluff': 1458.475855363455,
 'North Carolina Central': 1437.1606724518188,
 'Morehead State': 1494.8177535382042,
 'South Dakota State': 1469.5239941872169,
 'Coastal Carolina': 1448.3794630827801,
 'Towson': 1456.586849857743,
 'Alabama A&M': 1450.5679934769116,
 'North Dakota': 1459.5927851086142,
 'Mississippi Valley State': 1479.7761811907494,
 'Prairie View': 1453.440996347353,
 'Presbyterian College': 1438.282494415315,
 'Hampton': 1475.3558045202865,
 'South Dakota': 1473.6677553279392,
 'Stony Brook': 1452.5513288675193,
 'Georgia State': 1407.462978029845,
 'Fordham': 1463.6412985850218,
 'South Alabama': 1386.2191943188764,
 'Wagner': 1442.8888945527797,
 'UT San Antonio': 1428.0999836757842,
 'Lamar': 1460.7724870479683,
 'Texas A&M-Commerce': 1495.0697063191797,
 'Northwestern Oklahoma State': 1495.2081590131945,
 'Old Dominion': 1425.8575407750795,
 'Albany': 1477.9344889535216,
 'Abilene Christian': 1449.216076892709,
 'Campbell': 1462.0720533793506,
 'Duquesne': 1480.4928049914633,
 'Yale': 1502.758515145279,
 'Charlotte': 1416.3498453959598,
 'San Diego': 1495.1623584299962,
 'Monmouth': 1476.3891500272828,
 'Incarnate Word': 1457.2761042117409,
 'Mercer': 1483.2114907219582,
 'Houston Baptist': 1455.7697172483763,
 'Lafayette': 1486.9704245325104,
 'Kennesaw State': 1486.4943802630933,
 'Drake': 1495.3062111650495,
 'Robert Morris': 1493.8250816012526,
 'North Alabama': 1495.8111127713394}

In [14]:
def get_elo(play):
    return team_elo[play['offense']], team_elo[play['defense']]

In [15]:
def total_points(play):
    return play['offense_score'] + play['defense_score']

In [16]:
with open("elo_features.json", "w") as outfile:  
    json.dump(team_elo, outfile)

In [17]:
def play_type(play):
    return play['play_type']