In [2]:
import requests
import pandas as pd

pbp = []

for year in range(2001, 2020):
    for week in range(1,14):
        try:
            response = requests.get("https://api.collegefootballdata.com/plays?seasonType=regular&year={}&week={}&team=michigan".format(year, week))
            print("year={}&week={}".format(year,week),response)
            data_json = response.json()
            pbp.extend(data_json)
        except requests.exceptions.ConnectionError:
            print("year={}&week={}  Connection refused").format(week, year)

year=2001&week=1 <Response [200]>
year=2001&week=2 <Response [200]>
year=2001&week=3 <Response [200]>
year=2001&week=4 <Response [200]>
year=2001&week=5 <Response [200]>
year=2001&week=6 <Response [200]>
year=2001&week=7 <Response [200]>
year=2001&week=8 <Response [200]>
year=2001&week=9 <Response [200]>
year=2001&week=10 <Response [200]>
year=2001&week=11 <Response [200]>
year=2001&week=12 <Response [200]>
year=2001&week=13 <Response [200]>
year=2002&week=1 <Response [200]>
year=2002&week=2 <Response [200]>
year=2002&week=3 <Response [200]>
year=2002&week=4 <Response [200]>
year=2002&week=5 <Response [200]>
year=2002&week=6 <Response [200]>
year=2002&week=7 <Response [200]>
year=2002&week=8 <Response [200]>
year=2002&week=9 <Response [200]>
year=2002&week=10 <Response [200]>
year=2002&week=11 <Response [200]>
year=2002&week=12 <Response [200]>
year=2002&week=13 <Response [200]>
year=2003&week=1 <Response [200]>
year=2003&week=2 <Response [200]>
year=2003&week=3 <Response [200]>
year=2003&week=4 <Response [200]>
year=2003&week=5 <Response [200]>
year=2003&week=6 <Response [200]>
year=2003&week=7 <Response [200]>
year=2003&week=8 <Response [200]>
year=2003&week=9 <Response [200]>
year=2003&week=10 <Response [200]>
year=2003&week=11 <Response [200]>
year=2003&week=12 <Response [200]>
year=2003&week=13 <Response [200]>
year=2004&week=1 <Response [200]>
year=2004&week=2 <Response [200]>
year=2004&week=3 <Response [200]>
year=2004&week=4 <Response [200]>
year=2004&week=5 <Response [200]>
year=2004&week=6 <Response [200]>
year=2004&week=7 <Response [200]>
year=2004&week=8 <Response [200]>
year=2004&week=9 <Response [200]>
year=2004&week=10 <Response [200]>
year=2004&week=11 <Response [200]>
year=2004&week=12 <Response [200]>
year=2004&week=13 <Response [200]>
year=2005&week=1 <Response [200]>
year=2005&week=2 <Response [200]>
year=2005&week=3 <Response [200]>
year=2005&week=4 <Response [200]>
year=2005&week=5 <Response [200]>
year=2005&week=6 <Response [200]>
year=2005&week=7 <Response [200]>
year=2005&week=8 <Response [200]>
year=2005&week=9 <Response [200]>
year=2005&week=10 <Response [200]>
year=2005&week=11 <Response [200]>
year=2005&week=12 <Response [200]>
year=2005&week=13 <Response [200]>
year=2006&week=1 <Response [200]>
year=2006&week=2 <Response [200]>
year=2006&week=3 <Response [200]>
year=2006&week=4 <Response [200]>
year=2006&week=5 <Response [200]>
year=2006&week=6 <Response [200]>
year=2006&week=7 <Response [200]>
year=2006&week=8 <Response [200]>
year=2006&week=9 <Response [200]>
year=2006&week=10 <Response [200]>
year=2006&week=11 <Response [200]>
year=2006&week=12 <Response [200]>
year=2006&week=13 <Response [200]>
year=2007&week=1 <Response [200]>
year=2007&week=2 <Response [200]>
year=2007&week=3 <Response [200]>
year=2007&week=4 <Response [200]>
year=2007&week=5 <Response [200]>
year=2007&week=6 <Response [200]>
year=2007&week=7 <Response [200]>
year=2007&week=8 <Response [200]>
year=2007&week=9 <Response [200]>
year=2007&week=10 <Response [200]>
year=2007&week=11 <Response [200]>
year=2007&week=12 <Response [200]>
year=2007&week=13 <Response [200]>
year=2008&week=1 <Response [200]>
year=2008&week=2 <Response [200]>
year=2008&week=3 <Response [200]>
year=2008&week=4 <Response [200]>
year=2008&week=5 <Response [200]>
year=2008&week=6 <Response [200]>
year=2008&week=7 <Response [200]>
year=2008&week=8 <Response [200]>
year=2008&week=9 <Response [200]>
year=2008&week=10 <Response [200]>
year=2008&week=11 <Response [200]>
year=2008&week=12 <Response [200]>
year=2008&week=13 <Response [200]>
year=2009&week=1 <Response [200]>
year=2009&week=2 <Response [200]>
year=2009&week=3 <Response [200]>
year=2009&week=4 <Response [200]>
year=2009&week=5 <Response [200]>
year=2009&week=6 <Response [200]>
year=2009&week=7 <Response [200]>
year=2009&week=8 <Response [200]>
year=2009&week=9 <Response [200]>
year=2009&week=10 <Response [200]>
year=2009&week=11 <Response [200]>
year=2009&week=12 <Response [200]>
year=2009&week=13 <Response [200]>
year=2010&week=1 <Response [200]>
year=2010&week=2 <Response [200]>
year=2010&week=3 <Response [200]>
year=2010&week=4 <Response [200]>
year=2010&week=5 <Response [200]>
year=2010&week=6 <Response [200]>
year=2010&week=7 <Response [200]>
year=2010&week=8 <Response [200]>
year=2010&week=9 <Response [200]>
year=2010&week=10 <Response [200]>
year=2010&week=11 <Response [200]>
year=2010&week=12 <Response [200]>
year=2010&week=13 <Response [200]>
year=2011&week=1 <Response [200]>
year=2011&week=2 <Response [200]>
year=2011&week=3 <Response [200]>
year=2011&week=4 <Response [200]>
year=2011&week=5 <Response [200]>
year=2011&week=6 <Response [200]>
year=2011&week=7 <Response [200]>
year=2011&week=8 <Response [200]>
year=2011&week=9 <Response [200]>
year=2011&week=10 <Response [200]>
year=2011&week=11 <Response [200]>
year=2011&week=12 <Response [200]>
year=2011&week=13 <Response [200]>
year=2012&week=1 <Response [200]>
year=2012&week=2 <Response [200]>
year=2012&week=3 <Response [200]>
year=2012&week=4 <Response [200]>
year=2012&week=5 <Response [200]>
year=2012&week=6 <Response [200]>
year=2012&week=7 <Response [200]>
year=2012&week=8 <Response [200]>
year=2012&week=9 <Response [200]>
year=2012&week=10 <Response [200]>
year=2012&week=11 <Response [200]>
year=2012&week=12 <Response [200]>
year=2012&week=13 <Response [200]>
year=2013&week=1 <Response [200]>
year=2013&week=2 <Response [200]>
year=2013&week=3 <Response [200]>
year=2013&week=4 <Response [200]>
year=2013&week=5 <Response [200]>
year=2013&week=6 <Response [200]>
year=2013&week=7 <Response [200]>
year=2013&week=8 <Response [200]>
year=2013&week=9 <Response [200]>
year=2013&week=10 <Response [200]>
year=2013&week=11 <Response [200]>
year=2013&week=12 <Response [200]>
year=2013&week=13 <Response [200]>
year=2014&week=1 <Response [200]>
year=2014&week=2 <Response [200]>
year=2014&week=3 <Response [200]>
year=2014&week=4 <Response [200]>
year=2014&week=5 <Response [200]>
year=2014&week=6 <Response [200]>
year=2014&week=7 <Response [200]>
year=2014&week=8 <Response [200]>
year=2014&week=9 <Response [200]>
year=2014&week=10 <Response [200]>
year=2014&week=11 <Response [200]>
year=2014&week=12 <Response [200]>
year=2014&week=13 <Response [200]>
year=2015&week=1 <Response [200]>
year=2015&week=2 <Response [200]>
year=2015&week=3 <Response [200]>
year=2015&week=4 <Response [200]>
year=2015&week=5 <Response [200]>
year=2015&week=6 <Response [200]>
year=2015&week=7 <Response [200]>
year=2015&week=8 <Response [200]>
year=2015&week=9 <Response [200]>
year=2015&week=10 <Response [200]>
year=2015&week=11 <Response [200]>
year=2015&week=12 <Response [200]>
year=2015&week=13 <Response [200]>
year=2016&week=1 <Response [200]>
year=2016&week=2 <Response [200]>
year=2016&week=3 <Response [200]>
year=2016&week=4 <Response [200]>
year=2016&week=5 <Response [200]>
year=2016&week=6 <Response [200]>
year=2016&week=7 <Response [200]>
year=2016&week=8 <Response [200]>
year=2016&week=9 <Response [200]>
year=2016&week=10 <Response [200]>
year=2016&week=11 <Response [200]>
year=2016&week=12 <Response [200]>
year=2016&week=13 <Response [200]>
year=2017&week=1 <Response [200]>
year=2017&week=2 <Response [200]>
year=2017&week=3 <Response [200]>
year=2017&week=4 <Response [200]>
year=2017&week=5 <Response [200]>
year=2017&week=6 <Response [200]>
year=2017&week=7 <Response [200]>
year=2017&week=8 <Response [200]>
year=2017&week=9 <Response [200]>
year=2017&week=10 <Response [200]>
year=2017&week=11 <Response [200]>
year=2017&week=12 <Response [200]>
year=2017&week=13 <Response [200]>
year=2018&week=1 <Response [200]>
year=2018&week=2 <Response [200]>
year=2018&week=3 <Response [200]>
year=2018&week=4 <Response [200]>
year=2018&week=5 <Response [200]>
year=2018&week=6 <Response [200]>
year=2018&week=7 <Response [200]>
year=2018&week=8 <Response [200]>
year=2018&week=9 <Response [200]>
year=2018&week=10 <Response [200]>
year=2018&week=11 <Response [200]>
year=2018&week=12 <Response [200]>
year=2018&week=13 <Response [200]>
year=2019&week=1 <Response [200]>
year=2019&week=2 <Response [200]>
year=2019&week=3 <Response [200]>
year=2019&week=4 <Response [200]>
year=2019&week=5 <Response [200]>

year=2019&week=6 <Response [200]>
year=2019&week=7 <Response [200]>
year=2019&week=8 <Response [200]>
year=2019&week=9 <Response [200]>
year=2019&week=10 <Response [200]>
year=2019&week=11 <Response [200]>
year=2019&week=12 <Response [200]>
year=2019&week=13 <Response [200]>

In [9]:
df = pd.DataFrame(pbp)
df.head()

,id,offense,offense_conference,defense,defense_conference,home,away,offense_score,defense_score,game_id,...,defense_timeouts,yard_line,yards_to_goal,down,distance,scoring,yards_gained,play_type,play_text,ppa
0,2124401300001,Michigan,Big Ten,Miami (OH),Mid-American,Michigan,Miami (OH),0,0,212440130,...,NaN,0,100,0,0,False,0,Uncategorized,Start of the 1st quarter.,None
1,2124401300002,Miami (OH),Mid-American,Michigan,Big Ten,Michigan,Miami (OH),0,0,212440130,...,NaN,22,22,0,0,False,11,Kickoff Return (Offense),Kickoff returned by Shantee Orr (MICH) for 11 ...,None
2,2124401300101,Michigan,Big Ten,Miami (OH),Mid-American,Michigan,Miami (OH),0,0,212440130,...,NaN,33,67,1,10,False,1,Rush,B.J. Askew (MICH) rushed up the middle for 1 y...,-0.7895437741198555
3,2124401300102,Michigan,Big Ten,Miami (OH),Mid-American,Michigan,Miami (OH),0,0,212440130,...,NaN,32,68,2,9,False,7,Rush,B.J. Askew (MICH) rushed left side for 7 yards.,0.4601864788660972
4,2124401300103,Michigan,Big Ten,Miami (OH),Mid-American,Michigan,Miami (OH),0,0,212440130,...,NaN,39,61,3,2,False,3,Rush,B.J. Askew (MICH) rushed right side for 3 yards.,1.3266405336115135

In [10]:
df.describe()

,offense_score,defense_score,game_id,drive_number,play_number,period,offense_timeouts,defense_timeouts,yard_line,yards_to_goal,down,distance,yards_gained
count,37528.000000,37528.000000,3.752800e+04,37528.000000,37528.000000,37528.000000,14004.000000,14004.000000,37528.000000,37528.000000,37528.000000,37528.000000,37528.000000
mean,12.786426,12.953661,3.169322e+08,14.422591,4.915023,2.535573,2.474150,2.499714,50.804999,50.794394,1.867566,7.923630,5.609012
std,11.895089,11.985447,6.500206e+07,8.920939,3.523993,1.136821,0.789745,0.782175,25.547049,25.547381,1.209279,4.679675,10.520296
min,0.000000,0.000000,2.124401e+08,1.000000,1.000000,0.000000,0.000000,0.000000,-28.000000,-28.000000,-1.000000,-12.000000,-88.000000
25%,3.000000,3.000000,2.628001e+08,7.000000,2.000000,2.000000,2.000000,2.000000,31.000000,31.000000,1.000000,5.000000,0.000000
50%,10.000000,10.000000,3.031001e+08,14.000000,4.000000,2.000000,3.000000,3.000000,52.000000,55.000000,2.000000,10.000000,2.000000
75%,20.000000,20.000000,4.007635e+08,21.000000,7.000000,4.000000,3.000000,3.000000,71.000000,71.000000,3.000000,10.000000,8.000000
max,78.000000,78.000000,4.011122e+08,49.000000,30.000000,8.000000,3.000000,3.000000,104.000000,100.000000,4.000000,54.000000,100.000000

In [12]:
df.to_csv("../data/play_by_play.csv",index=False,header=True)