In [17]:
import pandas as pd

df = pd.read_csv("../data/game_results.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df.head()

,Unnamed: 0,id,season,week,season_type,start_date,start_time_tbd,neutral_site,conference_game,attendance,...,home_points,home_line_scores,home_post_win_prob,away_id,away_team,away_conference,away_points,away_line_scores,away_post_win_prob,excitement_index
0,0,212350097,2001,1,regular,2001-08-23T19:00:00.000Z,NaN,False,False,38129.0,...,45,[],NaN,166,New Mexico State,Sun Belt,24,[],NaN,NaN
1,1,63770,2001,1,regular,2001-08-25T00:00:00.000Z,NaN,False,NaN,NaN,...,21,[],NaN,2628,TCU,Conference USA,7,[],NaN,NaN
2,2,212370275,2001,1,regular,2001-08-25T14:00:00.000Z,NaN,False,True,76740.0,...,26,"[0, 10, 9, 7]",NaN,258,Virginia,ACC,17,"[3, 0, 7, 7]",NaN,NaN
3,3,212370252,2001,1,regular,2001-08-25T16:30:00.000Z,NaN,False,True,40008.0,...,70,[],NaN,2655,Tulane,Conference USA,35,[],NaN,NaN
4,4,212370201,2001,1,regular,2001-08-25T19:45:00.000Z,NaN,False,False,75423.0,...,10,"[10, 10, 0, 0]",NaN,153,North Carolina,ACC,0,"[0, 7, 0, 13]",NaN,NaN

In [22]:
df = df[['id', 'season', 'week', 'home_points','away_points','home_team','away_team','home_id','away_id']]
df.head()

,id,season,week,home_points,away_points,home_team,away_team,home_id,away_id
0,212350097,2001,1,45,24,Louisville,New Mexico State,97,166
1,63770,2001,1,21,7,Nebraska,TCU,158,2628
2,212370275,2001,1,26,17,Wisconsin,Virginia,275,258
3,212370252,2001,1,70,35,BYU,Tulane,252,2655
4,212370201,2001,1,10,0,Oklahoma,North Carolina,201,153

In [29]:
df['winner'] = df['home_id'][df['home_points'] > df['away_points']]

In [30]:
df.head()

,id,season,week,home_points,away_points,home_team,away_team,home_id,away_id,winner
0,212350097,2001,1,45,24,Louisville,New Mexico State,97,166,97.0
1,63770,2001,1,21,7,Nebraska,TCU,158,2628,158.0
2,212370275,2001,1,26,17,Wisconsin,Virginia,275,258,275.0
3,212370252,2001,1,70,35,BYU,Tulane,252,2655,252.0
4,212370201,2001,1,10,0,Oklahoma,North Carolina,201,153,201.0

In [31]:
df['winner'][df['home_points'] < df['away_points']] = df['away_id']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
df.iloc[:10, :]

,id,season,week,home_points,away_points,home_team,away_team,home_id,away_id,winner
0,212350097,2001,1,45,24,Louisville,New Mexico State,97,166,97.0
1,63770,2001,1,21,7,Nebraska,TCU,158,2628,158.0
2,212370275,2001,1,26,17,Wisconsin,Virginia,275,258,275.0
3,212370252,2001,1,70,35,BYU,Tulane,252,2655,252.0
4,212370201,2001,1,10,0,Oklahoma,North Carolina,201,153,201.0
5,212380183,2001,1,7,13,Syracuse,Georgia Tech,183,59,59.0
6,212380038,2001,1,22,24,Colorado,Fresno State,38,278,278.0
7,212422649,2001,2,38,7,Toledo,Minnesota,2649,135,2649.0
8,212420218,2001,2,45,26,Temple,Navy,218,2426,218.0
9,212422006,2001,2,31,29,Akron,Ohio,2006,195,2006.0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().