In [1]:
import pandas as pd

df = pd.read_csv("../data/game_results.csv")

In [2]:
df = df[['id', 'season', 'week', 'home_points','away_points','home_team','away_team','home_id','away_id']]
df.head()

,id,season,week,home_points,away_points,home_team,away_team,home_id,away_id
0,212350097,2001,1,45,24,Louisville,New Mexico State,97,166
1,63770,2001,1,21,7,Nebraska,TCU,158,2628
2,212370275,2001,1,26,17,Wisconsin,Virginia,275,258
3,212370252,2001,1,70,35,BYU,Tulane,252,2655
4,212370201,2001,1,10,0,Oklahoma,North Carolina,201,153

In [3]:
df['winner'] = df['home_id'][df['home_points'] > df['away_points']]

In [6]:
df['winner'][df['home_points'] < df['away_points']] = df['away_id']
df['winner'] = df['winner'].astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df.iloc[:10, :]

,id,season,week,home_points,away_points,home_team,away_team,home_id,away_id,winner
0,212350097,2001,1,45,24,Louisville,New Mexico State,97,166,97
1,63770,2001,1,21,7,Nebraska,TCU,158,2628,158
2,212370275,2001,1,26,17,Wisconsin,Virginia,275,258,275
3,212370252,2001,1,70,35,BYU,Tulane,252,2655,252
4,212370201,2001,1,10,0,Oklahoma,North Carolina,201,153,201
5,212380183,2001,1,7,13,Syracuse,Georgia Tech,183,59,59
6,212380038,2001,1,22,24,Colorado,Fresno State,38,278,278
7,212420218,2001,2,45,26,Temple,Navy,218,2426,218
8,212422649,2001,2,38,7,Toledo,Minnesota,2649,135,2649
9,212422006,2001,2,31,29,Akron,Ohio,2006,195,2006

In [119]:
import numpy as np
df2 = pd.read_csv("../data/game_stats.csv")
df2.columns

Index(['Unnamed: 0', 'id', 'home.school', 'home.conference', 'home.points',
       'home.fumblesRecovered', 'home.rushingTDs', 'home.puntReturnYards',
       'home.puntReturnTDs', 'home.puntReturns', 'home.passingTDs',
       'home.kickingPoints', 'home.firstDowns', 'home.thirdDownEff',
       'home.fourthDownEff', 'home.totalYards', 'home.netPassingYards',
       'home.completionAttempts', 'home.yardsPerPass', 'home.rushingYards',
       'home.rushingAttempts', 'home.yardsPerRushAttempt',
       'home.totalPenaltiesYards', 'home.turnovers', 'home.fumblesLost',
       'home.interceptions', 'home.possessionTime', 'away.school',
       'away.conference', 'away.points', 'away.fumblesRecovered',
       'away.rushingTDs', 'away.puntReturnYards', 'away.puntReturnTDs',
       'away.puntReturns', 'away.passingTDs', 'away.kickingPoints',
       'away.interceptionYards', 'away.interceptionTDs',
       'away.passesIntercepted', 'away.firstDowns', 'away.thirdDownEff',
       'away.fourthDownEff', 'away.totalYards', 'away.netPassingYards',
       'away.completionAttempts', 'away.yardsPerPass', 'away.rushingYards',
       'away.rushingAttempts', 'away.yardsPerRushAttempt',
       'away.totalPenaltiesYards', 'away.turnovers', 'away.fumblesLost',
       'away.interceptions', 'away.possessionTime', 'Year', 'Week',
       'home.interceptionYards', 'home.interceptionTDs',
       'home.passesIntercepted', 'away.kickReturnYards', 'away.kickReturnTDs',
       'away.kickReturns', 'home.kickReturnYards', 'home.kickReturnTDs',
       'home.kickReturns', 'home.totalFumbles', 'home.tacklesForLoss',
       'home.defensiveTDs', 'home.tackles', 'home.sacks', 'home.qbHurries',
       'home.passesDeflected', 'away.totalFumbles', 'away.tacklesForLoss',
       'away.defensiveTDs', 'away.tackles', 'away.sacks', 'away.qbHurries',
       'away.passesDeflected'],
      dtype='object')

In [162]:
def process_third(x):
    if(str(x).split('-')[-1] == '0'): return 1
    else: return float(str(x).split('-')[0])/float(str(x).split('-')[1])

stats = df2[['id', 'home.school','home.points', 'home.thirdDownEff','home.completionAttempts', 'home.yardsPerPass','home.yardsPerRushAttempt','home.totalPenaltiesYards','home.turnovers','home.possessionTime','away.school','away.points','away.thirdDownEff','away.completionAttempts', 'away.yardsPerPass','away.yardsPerRushAttempt','away.totalPenaltiesYards','away.turnovers','away.possessionTime','home.rushingAttempts','away.rushingAttempts','Year','Week']]
stats.dropna(inplace = True)
stats.loc[:,'home.pointDiff'] = df2['home.points'] - df2['away.points']
stats.loc[:,'away.pointDiff'] = -stats['home.pointDiff']
stats.loc[:,'home.completionAttempts'] = df2['home.completionAttempts'].apply(lambda x: float(str(x).split('-')[-1]))
stats.loc[:,'away.completionAttempts'] = df2['away.completionAttempts'].apply(lambda x: float(str(x).split('-')[-1]))
stats.loc[:,'home.yardsAllowedPerPlay'] = df2['away.totalYards']/(stats['away.completionAttempts'] + df2['away.rushingAttempts'])
stats.loc[:,'away.yardsAllowedPerPlay'] = df2['home.totalYards']/(stats['home.completionAttempts'] + df2['home.rushingAttempts'])
stats.loc[:,'home.yards_per_play'] = stats['away.yardsAllowedPerPlay']
stats.loc[:,'away.yards_per_play'] = stats['home.yardsAllowedPerPlay']
stats.loc[:,'home.forcedTO'] = df2['away.turnovers']
stats.loc[:,'away.forcedTO'] = df2['home.turnovers']
stats.loc[:,'home.passAttemptsAllowed'] = stats['away.completionAttempts']
stats.loc[:,'away.passAttemptsAllowed'] = stats['home.completionAttempts']
stats.loc[:,'home.yardsAllowedPerRush'] = df2['away.yardsPerRushAttempt']
stats.loc[:,'away.yardsAllowedPerRush'] = df2['home.yardsPerRushAttempt']
stats.loc[:,'home.thirdDownEff'] = stats.loc[:,'home.thirdDownEff'].apply(process_third)
stats.loc[:,'away.thirdDownEff'] = stats.loc[:,'away.thirdDownEff'].apply(process_third)
stats.loc[:,'home.totalPenaltiesYards'] = stats.loc[:,'home.totalPenaltiesYards'].apply(lambda x: float(x.split('-')[-1]))
stats.loc[:,'away.totalPenaltiesYards'] = stats.loc[:,'away.totalPenaltiesYards'].apply(lambda x: float(x.split('-')[-1]))
stats.loc[:,'home.possessionTime'] = stats['home.possessionTime'].apply(lambda x: float(x.split(':')[0])*60 + float(x.split(':')[1]))
stats.loc[:,'away.possessionTime'] = stats['away.possessionTime'].apply(lambda x: float(x.split(':')[0])*60 + float(x.split(':')[1]))
stats.iloc[:10,:]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,home.school,home.points,home.thirdDownEff,home.completionAttempts,home.yardsPerPass,home.yardsPerRushAttempt,home.totalPenaltiesYards,home.turnovers,home.possessionTime,away.school,away.points,away.thirdDownEff,away.completionAttempts,away.yardsPerPass,away.yardsPerRushAttempt,away.totalPenaltiesYards,away.turnovers,away.possessionTime,home.rushingAttempts,away.rushingAttempts,Year,Week,home.pointDiff,away.pointDiff,home.yardsAllowedPerPlay,away.yardsAllowedPerPlay,home.yards_per_play,away.yards_per_play,home.forcedTO,away.forcedTO,home.passAttemptsAllowed,away.passAttemptsAllowed,home.yardsAllowedPerRush,away.yardsAllowedPerRush
0,242410259,Virginia Tech,13,0.384615,29.0,5.3,4.1,0.0,3.0,1170.0,USC,24,0.428571,29.0,9.4,3.5,0.0,0.0,1028.0,34.0,29.0,2004,1,-11,11,6.431034,4.666667,4.666667,6.431034,0.0,3.0,29.0,29.0,3.5,4.1
1,242410193,Miami (OH),49,0.363636,37.0,7.9,4.2,0.0,3.0,1085.0,Indiana State,0,1.000000,33.0,4.8,1.4,63.0,3.0,1108.0,39.0,31.0,2004,1,49,-49,3.187500,5.973684,5.973684,3.187500,3.0,3.0,33.0,37.0,1.4,4.2
2,242482426,Navy,27,0.400000,9.0,14.3,5.3,0.0,3.0,1123.0,Duke,12,0.153846,22.0,4.1,4.5,0.0,0.0,1077.0,57.0,39.0,2004,2,15,-15,4.344262,6.515152,6.515152,4.344262,0.0,3.0,22.0,9.0,4.5,5.3
3,242480120,Maryland,23,0.416667,22.0,7.7,4.3,0.0,4.0,1095.0,Northern Illinois,20,0.222222,37.0,5.9,3.1,0.0,3.0,1114.0,46.0,38.0,2004,2,3,-3,4.493333,5.397059,5.397059,4.493333,3.0,4.0,37.0,22.0,3.1,4.3
4,242480153,North Carolina,49,0.833333,24.0,9.8,7.6,0.0,4.0,1059.0,William & Mary,38,1.000000,41.0,7.9,3.9,45.0,0.0,1141.0,45.0,31.0,2004,2,11,-11,6.138889,8.333333,8.333333,6.138889,0.0,4.0,41.0,24.0,3.9,7.6
5,242480228,Clemson,37,0.312500,41.0,7.0,2.4,0.0,3.0,1140.0,Wake Forest,30,0.444444,25.0,6.2,4.7,0.0,1.0,1020.0,35.0,54.0,2004,2,7,-7,5.189873,4.881579,4.881579,5.189873,1.0,3.0,25.0,41.0,4.7,2.4
6,242480152,NC State,42,0.384615,32.0,7.2,4.7,0.0,1.0,1231.0,Richmond,0,1.000000,27.0,2.3,2.9,77.0,3.0,1052.0,37.0,36.0,2004,2,42,-42,2.650794,5.840580,5.840580,2.650794,3.0,1.0,27.0,32.0,2.9,4.7
7,242480164,Rutgers,19,0.380952,34.0,7.1,3.5,0.0,1.0,1443.0,Michigan State,14,0.166667,39.0,6.9,4.1,0.0,3.0,737.0,50.0,22.0,2004,2,5,-5,5.901639,4.940476,4.940476,5.901639,3.0,1.0,39.0,34.0,4.1,3.5
8,242480356,Illinois,52,0.454545,23.0,11.2,6.2,0.0,0.0,1114.0,Florida A&M,13,1.000000,55.0,5.2,2.8,36.0,3.0,1086.0,48.0,25.0,2004,2,39,-39,4.475000,7.802817,7.802817,4.475000,3.0,0.0,55.0,23.0,2.8,6.2
9,242480275,Wisconsin,34,0.428571,20.0,8.5,4.7,0.0,1.0,1172.0,UCF,6,0.375000,24.0,7.4,1.5,0.0,3.0,1033.0,49.0,35.0,2004,2,28,-28,3.898305,5.797101,5.797101,3.898305,3.0,1.0,24.0,20.0,1.5,4.7

In [216]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
home_index = [x for x in list(stats.columns) if 'home.' in x] + ['Week', 'Year', 'id']
home = stats[home_index].drop('home.points',axis = 1)
home = home.groupby(['Year', 'home.school','Week']).mean()
home.iloc[:50,:]

                          home.thirdDownEff  home.completionAttempts  \
Year home.school    Week
2004 Air Force      2              0.555556                     18.0
                    3              0.600000                     16.0
                    6              0.473684                     24.0
                    7              0.357143                      9.0
                    9              0.266667                     24.0
                    12             0.428571                     20.0
                    13             0.642857                     19.0
     Akron          3              0.416667                     44.0
                    7              0.416667                     23.0
                    9              0.461538                     33.0
                    11             0.250000                     45.0
                    13             0.400000                     43.0
     Alabama        2              0.333333                     22.0
                    3              0.583333                     22.0
                    4              0.428571                     31.0
                    6              0.000000                     24.0
                    8              0.384615                      9.0
                    11             0.250000                     15.0
                    13             0.214286                     30.0
     Arizona        2              0.500000                     23.0
                    3              0.416667                     25.0
                    4              0.181818                     15.0
                    5              0.368421                     31.0
                    9              0.200000                     32.0
                    10             0.200000                     38.0
                    14             0.333333                     32.0
     Arizona State  2              0.312500                     44.0
                    4              0.631579                     46.0
                    5              0.266667                     40.0
                    9              0.476190                     51.0
                    11             0.294118                     43.0
                    12             0.368421                     43.0
     Arkansas       2              0.625000                     24.0
                    3              0.470588                     29.0
                    5              0.250000                     12.0
                    9              0.153846                     21.0
                    12             0.562500                     20.0
                    14             0.400000                     32.0
     Arkansas State 4              0.533333                     41.0
                    8              0.312500                     23.0
                    12             0.125000                     23.0
                    13             0.454545                     24.0
     Army           3              0.214286                     32.0
                    6              0.187500                     26.0
                    7              0.642857                     21.0
                    11             0.437500                     38.0
                    13             0.294118                     46.0
     Auburn         2              0.600000                     24.0
                    4              0.307692                     27.0
                    5              0.545455                     32.0

                          home.yardsPerPass  home.yardsPerRushAttempt  \
Year home.school    Week
2004 Air Force      2                   4.9                       3.4
                    3                   9.1                       6.8
                    6                   9.7                       3.2
                    7                  10.6                       4.5
                    9                   6.3                       4.5
                    12                  6.7                       5.4
                    13                 10.7                       5.3
     Akron          3                   9.1                       3.0
                    7                   8.8                       6.1
                    9                   7.5                       4.5
                    11                  7.2                       2.5
                    13                 10.1                       0.4
     Alabama        2                   9.3                       5.8
                    3                   7.7                       4.7
                    4                   7.5                       5.9
                    6                   2.8                       5.1
                    8                   8.0                       5.1
                    11                  7.9                       5.5
                    13                  7.5                       1.6
     Arizona        2                   7.4                       3.2
                    3                   7.9                       3.5
                    4                   6.9                       2.9
                    5                   5.9                       2.0
                    9                   5.0                       3.0
                    10                  6.2                       2.8
                    14                  7.8                       3.8
     Arizona State  2                   8.1                       3.1
                    4                   9.5                       2.2
                    5                   3.1                       3.6
                    9                   8.1                       3.3
                    11                  9.7                       3.7
                    12                  8.5                       3.3
     Arkansas       2                  13.6                       4.1
                    3                   9.8                       3.9
                    5                  10.2                       4.3
                    9                   8.6                       2.9
                    12                  7.8                       5.8
                    14                  4.8                       3.1
     Arkansas State 4                  10.2                       2.8
                    8                   5.0                       3.1
                    12                  4.5                       4.3
                    13                  4.2                       4.5
     Army           3                   6.8                       4.9
                    6                   8.2                       3.3
                    7                  12.9                       6.2
                    11                  5.1                       6.8
                    13                  6.9                       2.6
     Auburn         2                   7.8                       4.7
                    4                   6.3                       3.9
                    5                  11.2                       4.7

                          home.totalPenaltiesYards  home.turnovers  \
Year home.school    Week
2004 Air Force      2                          0.0             2.0
                    3                          0.0             1.0
                    6                          0.0             2.0
                    7                          0.0             0.0
                    9                          0.0             0.0
                    12                         0.0             6.0
                    13                         0.0             0.0
     Akron          3                          0.0             3.0
                    7                          0.0             0.0
                    9                          0.0             3.0
                    11                         0.0             2.0
                    13                         0.0             0.0
     Alabama        2                          0.0             0.0
                    3                          0.0             2.0
                    4                          0.0             2.0
                    6                          0.0             4.0
                    8                          0.0             1.0
                    11                         0.0             3.0
                    13                         0.0             1.0
     Arizona        2                          0.0             1.0
                    3                          0.0             4.0
                    4                          0.0             0.0
                    5                          0.0             2.0
                    9                          0.0             2.0
                    10                         0.0             4.0
                    14                         0.0             3.0
     Arizona State  2                          0.0             1.0
                    4                          0.0             1.0
                    5                          0.0             0.0
                    9                          0.0             3.0
                    11                         0.0             5.0
                    12                         0.0             1.0
     Arkansas       2                          0.0             0.0
                    3                          0.0             4.0
                    5                          0.0             1.0
                    9                          0.0             3.0
                    12                         0.0             0.0
                    14                         0.0             3.0
     Arkansas State 4                          0.0             5.0
                    8                          0.0             0.0
                    12                         0.0             2.0
                    13                         0.0             3.0
     Army           3                          0.0             2.0
                    6                          0.0             0.0
                    7                          0.0             1.0
                    11                         0.0             2.0
                    13                         0.0             1.0
     Auburn         2                          0.0             3.0
                    4                          0.0             1.0
                    5                          0.0             2.0

                          home.possessionTime  home.rushingAttempts  \
Year home.school    Week
2004 Air Force      2                  1213.0                  53.0
                    3                  1131.0                  52.0
                    6                  1253.0                  57.0
                    7                  1144.0                  53.0
                    9                  1067.0                  47.0
                    12                 1090.0                  65.0
                    13                 1194.0                  70.0
     Akron          3                  1119.0                  34.0
                    7                   905.0                  28.0
                    9                  1028.0                  43.0
                    11                 1058.0                  33.0
                    13                 1088.0                  28.0
     Alabama        2                  1204.0                  44.0
                    3                  1352.0                  47.0
                    4                  1271.0                  42.0
                    6                   959.0                  28.0
                    8                  1271.0                  51.0
                    11                 1135.0                  47.0
                    13                  993.0                  31.0
     Arizona        2                  1253.0                  42.0
                    3                  1164.0                  33.0
                    4                   976.0                  33.0
                    5                  1251.0                  41.0
                    9                   961.0                  29.0
                    10                 1179.0                  34.0
                    14                 1232.0                  39.0
     Arizona State  2                  1185.0                  42.0
                    4                  1335.0                  34.0
                    5                  1158.0                  35.0
                    9                  1082.0                  37.0
                    11                 1140.0                  46.0
                    12                 1272.0                  43.0
     Arkansas       2                  1217.0                  54.0
                    3                  1039.0                  45.0
                    5                  1044.0                  49.0
                    9                   801.0                  33.0
                    12                 1271.0                  51.0
                    14                  955.0                  31.0
     Arkansas State 4                  1119.0                  32.0
                    8                  1118.0                  40.0
                    12                 1256.0                  49.0
                    13                  914.0                  31.0
     Army           3                   850.0                  27.0
                    6                  1075.0                  39.0
                    7                  1143.0                  46.0
                    11                 1015.0                  36.0
                    13                 1153.0                  39.0
     Auburn         2                  1109.0                  41.0
                    4                  1100.0                  34.0
                    5                  1247.0                  50.0

                          home.pointDiff  home.yardsAllowedPerPlay  \
Year home.school    Week
2004 Air Force      2              -42.0                  9.241935
                    3               22.0                  5.294872
                    6               -3.0                  5.732143
                    7                5.0                  4.111111
                    9              -17.0                  7.422535
                    12              -6.0                  6.000000
                    13              30.0                  6.127273
     Akron          3               -7.0                  5.757143
                    7               23.0                  4.597015
                    9               12.0                  4.947368
                    11               3.0                  6.925000
                    13             -10.0                  6.828125
     Alabama        2               31.0                  4.508475
                    3               21.0                  3.428571
                    4               52.0                  3.537037
                    6              -17.0                  3.830769
                    8               24.0                  2.850000
                    11              16.0                  3.934426
                    13              -8.0                  4.584615
     Arizona        2               18.0                  4.179104
                    3              -17.0                  5.433333
                    4               -2.0                  3.742857
                    5               -1.0                  4.305556
                    9              -38.0                  6.464789
                    10             -14.0                  4.558824
                    14               7.0                  6.300000
     Arizona State  2               32.0                  3.773333
                    4               37.0                  2.173913
                    5               13.0                  4.866667
                    9                6.0                  6.687500
                    11               3.0                  3.985915
                    12              17.0                  5.236111
     Arkansas       2               50.0                  3.927273
                    3               -2.0                  6.014706
                    5               17.0                  5.125000
                    9               -6.0                  6.662338
                    12              32.0                  5.532258
                    14             -29.0                  6.985075
     Arkansas State 4              -12.0                  6.034091
                    8                4.0                  3.830769
                    12               9.0                  4.222222
                    13             -24.0                  5.826087
     Army           3              -31.0                  6.500000
                    6               -4.0                  5.113924
                    7               19.0                  6.784810
                    11              -9.0                  5.797297
                    13              -6.0                  5.250000
     Auburn         2               31.0                  4.120690
                    4                1.0                  4.597015
                    5               30.0                  3.595745

                          home.yards_per_play  home.forcedTO  \
Year home.school    Week
2004 Air Force      2                3.816901            0.0
                    3                7.323529            2.0
                    6                5.123457            2.0
                    7                5.387097            1.0
                    9                5.112676            2.0
                    12               5.717647            2.0
                    13               6.471910            1.0
     Akron          3                6.435897            4.0
                    7                7.333333            0.0
                    9                5.763158            2.0
                    11               5.179487            3.0
                    13               6.281690            1.0
     Alabama        2                6.969697            2.0
                    3                5.652174            2.0
                    4                6.547945            5.0
                    6                4.038462            3.0
                    8                5.566667            2.0
                    11               6.112903            1.0
                    13               4.524590            2.0
     Arizona        2                4.723077            4.0
                    3                5.379310            0.0
                    4                4.145833            2.0
                    5                3.652778            4.0
                    9                4.016393            2.0
                    10               4.597222            1.0
                    14               5.605634            6.0
     Arizona State  2                5.662791            5.0
                    4                6.387500            1.0
                    5                3.320000            5.0
                    9                6.090909            4.0
                    11               6.550562            5.0
                    12               5.895349            2.0
     Arkansas       2                7.025641            4.0
                    3                6.189189            0.0
                    5                5.459016            2.0
                    9                5.148148            3.0
                    12               6.366197            1.0
                    14               3.920635            1.0

In [217]:
aggstats = home.copy()
idx = list(aggstats.index)
n = 1
for i,x in enumerate(idx):
    if(i == 0): continue
    if(x[1] == idx[i-1][1]):
        aggstats.loc[(x[0],x[1],x[2]),:] = aggstats.loc[(x[0],x[1],x[2]),:] + aggstats.loc[(idx[i-1][0],idx[i-1][1],idx[i-1][2]),:]*n
        aggstats.loc[(x[0],x[1],x[2]),:] = aggstats.loc[(x[0],x[1],x[2]),:]/(n+1)
        n += 1
    else: n = 1;
# for year in idxs[0]:
#     for team in idxs[1]:
#         for week in idxs[2]:
#             it = week - 1
#             n = 1
#             while it > 0:
#                 try:
#                     aggstats.loc[(year,team,week),:] = aggstats.loc[(year,team,week),:] + aggstats.loc[(year,team,it),:]
#                     n += 1
#                 except KeyError: pass
#                 it -= 1
#             try:
#                 aggstats.loc[(year,team,week),:] = aggstats.loc[(year,team,week),:]/n
#             except KeyError: pass
            
aggstats.iloc[:50,:]

                          home.thirdDownEff  home.completionAttempts  \
Year home.school    Week
2004 Air Force      2              0.555556                18.000000
                    3              0.577778                17.000000
                    6              0.543080                19.333333
                    7              0.496596                16.750000
                    9              0.450610                18.200000
                    12             0.446937                18.500000
                    13             0.474925                18.571429
     Akron          3              0.416667                44.000000
                    7              0.416667                33.500000
                    9              0.431624                33.333333
                    11             0.386218                36.250000
                    13             0.388974                37.600000
     Alabama        2              0.333333                22.000000
                    3              0.458333                22.000000
                    4              0.448413                25.000000
                    6              0.336310                24.750000
                    8              0.345971                21.600000
                    11             0.329976                20.500000
                    13             0.313448                21.857143
     Arizona        2              0.500000                23.000000
                    3              0.458333                24.000000
                    4              0.366162                21.000000
                    5              0.366726                23.500000
                    9              0.333381                25.200000
                    10             0.311151                27.333333
                    14             0.314320                28.000000
     Arizona State  2              0.312500                44.000000
                    4              0.472039                45.000000
                    5              0.403582                43.333333
                    9              0.421734                45.250000
                    11             0.396211                44.800000
                    12             0.391579                44.500000
     Arkansas       2              0.625000                24.000000
                    3              0.547794                26.500000
                    5              0.448529                21.666667
                    9              0.374859                21.500000
                    12             0.412387                21.200000
                    14             0.410322                23.000000
     Arkansas State 4              0.533333                41.000000
                    8              0.422917                32.000000
                    12             0.323611                29.000000
                    13             0.356345                27.750000
     Army           3              0.214286                32.000000
                    6              0.200893                29.000000
                    7              0.348214                26.333333
                    11             0.370536                29.250000
                    13             0.355252                32.600000
     Auburn         2              0.600000                24.000000
                    4              0.453846                25.500000
                    5              0.484382                27.666667

                          home.yardsPerPass  home.yardsPerRushAttempt  \
Year home.school    Week
2004 Air Force      2              4.900000                  3.400000
                    3              7.000000                  5.100000
                    6              7.900000                  4.466667
                    7              8.575000                  4.475000
                    9              8.120000                  4.480000
                    12             7.883333                  4.633333
                    13             8.285714                  4.728571
     Akron          3              9.100000                  3.000000
                    7              8.950000                  4.550000
                    9              8.466667                  4.533333
                    11             8.150000                  4.025000
                    13             8.540000                  3.300000
     Alabama        2              9.300000                  5.800000
                    3              8.500000                  5.250000
                    4              8.166667                  5.466667
                    6              6.825000                  5.375000
                    8              7.060000                  5.320000
                    11             7.200000                  5.350000
                    13             7.242857                  4.814286
     Arizona        2              7.400000                  3.200000
                    3              7.650000                  3.350000
                    4              7.400000                  3.200000
                    5              7.025000                  2.900000
                    9              6.620000                  2.920000
                    10             6.550000                  2.900000
                    14             6.728571                  3.028571
     Arizona State  2              8.100000                  3.100000
                    4              8.800000                  2.650000
                    5              6.900000                  2.966667
                    9              7.200000                  3.050000
                    11             7.700000                  3.180000
                    12             7.833333                  3.200000
     Arkansas       2             13.600000                  4.100000
                    3             11.700000                  4.000000
                    5             11.200000                  4.100000
                    9             10.550000                  3.800000
                    12            10.000000                  4.200000
                    14             9.133333                  4.016667
     Arkansas State 4             10.200000                  2.800000
                    8              7.600000                  2.950000
                    12             6.566667                  3.400000
                    13             5.975000                  3.675000
     Army           3              6.800000                  4.900000
                    6              7.500000                  4.100000
                    7              9.300000                  4.800000
                    11             8.250000                  5.300000
                    13             7.980000                  4.760000
     Auburn         2              7.800000                  4.700000
                    4              7.050000                  4.300000
                    5              8.433333                  4.433333

                          home.totalPenaltiesYards  home.turnovers  \
Year home.school    Week
2004 Air Force      2                          0.0        2.000000
                    3                          0.0        1.500000
                    6                          0.0        1.666667
                    7                          0.0        1.250000
                    9                          0.0        1.000000
                    12                         0.0        1.833333
                    13                         0.0        1.571429
     Akron          3                          0.0        3.000000
                    7                          0.0        1.500000
                    9                          0.0        2.000000
                    11                         0.0        2.000000
                    13                         0.0        1.600000
     Alabama        2                          0.0        0.000000
                    3                          0.0        1.000000
                    4                          0.0        1.333333
                    6                          0.0        2.000000
                    8                          0.0        1.800000
                    11                         0.0        2.000000
                    13                         0.0        1.857143
     Arizona        2                          0.0        1.000000
                    3                          0.0        2.500000
                    4                          0.0        1.666667
                    5                          0.0        1.750000
                    9                          0.0        1.800000
                    10                         0.0        2.166667
                    14                         0.0        2.285714
     Arizona State  2                          0.0        1.000000
                    4                          0.0        1.000000
                    5                          0.0        0.666667
                    9                          0.0        1.250000
                    11                         0.0        2.000000
                    12                         0.0        1.833333
     Arkansas       2                          0.0        0.000000
                    3                          0.0        2.000000
                    5                          0.0        1.666667
                    9                          0.0        2.000000
                    12                         0.0        1.600000
                    14                         0.0        1.833333
     Arkansas State 4                          0.0        5.000000
                    8                          0.0        2.500000
                    12                         0.0        2.333333
                    13                         0.0        2.500000
     Army           3                          0.0        2.000000
                    6                          0.0        1.000000
                    7                          0.0        1.000000
                    11                         0.0        1.250000
                    13                         0.0        1.200000
     Auburn         2                          0.0        3.000000
                    4                          0.0        2.000000
                    5                          0.0        2.000000

                          home.possessionTime  home.rushingAttempts  \
Year home.school    Week
2004 Air Force      2             1213.000000             53.000000
                    3             1172.000000             52.500000
                    6             1199.000000             54.000000
                    7             1185.250000             53.750000
                    9             1161.600000             52.400000
                    12            1149.666667             54.500000
                    13            1156.000000             56.714286
     Akron          3             1119.000000             34.000000
                    7             1012.000000             31.000000
                    9             1017.333333             35.000000
                    11            1027.500000             34.500000
                    13            1039.600000             33.200000
     Alabama        2             1204.000000             44.000000
                    3             1278.000000             45.500000
                    4             1275.666667             44.333333
                    6             1196.500000             40.250000
                    8             1211.400000             42.400000
                    11            1198.666667             43.166667
                    13            1169.285714             41.428571
     Arizona        2             1253.000000             42.000000
                    3             1208.500000             37.500000
                    4             1131.000000             36.000000
                    5             1161.000000             37.250000
                    9             1121.000000             35.600000
                    10            1130.666667             35.333333
                    14            1145.142857             35.857143
     Arizona State  2             1185.000000             42.000000
                    4             1260.000000             38.000000
                    5             1226.000000             37.000000
                    9             1190.000000             37.000000
                    11            1180.000000             38.800000
                    12            1195.333333             39.500000
     Arkansas       2             1217.000000             54.000000
                    3             1128.000000             49.500000
                    5             1100.000000             49.333333
                    9             1025.250000             45.250000
                    12            1074.400000             46.400000
                    14            1054.500000             43.833333
     Arkansas State 4             1119.000000             32.000000
                    8             1118.500000             36.000000
                    12            1164.333333             40.333333
                    13            1101.750000             38.000000
     Army           3              850.000000             27.000000
                    6              962.500000             33.000000
                    7             1022.666667             37.333333
                    11            1020.750000             37.000000
                    13            1047.200000             37.400000
     Auburn         2             1109.000000             41.000000
                    4             1104.500000             37.500000
                    5             1152.000000             41.666667

                          home.pointDiff  home.yardsAllowedPerPlay  \
Year home.school    Week
2004 Air Force      2         -42.000000                  9.241935
                    3         -10.000000                  7.268404
                    6          -7.666667                  6.756317
                    7          -4.500000                  6.095015
                    9          -7.000000                  6.360519
                    12         -6.833333                  6.300433
                    13         -1.571429                  6.275696
     Akron          3          -7.000000                  5.757143
                    7           8.000000                  5.177079
                    9           9.333333                  5.100509
                    11          7.750000                  5.556632
                    13          4.200000                  5.810930
     Alabama        2          31.000000                  4.508475
                    3          26.000000                  3.968523
                    4          34.666667                  3.824694
                    6          21.750000                  3.826213
                    8          22.200000                  3.630970
                    11         21.166667                  3.681546
                    13         17.000000                  3.810556
     Arizona        2          18.000000                  4.179104
                    3           0.500000                  4.806219
                    4          -0.333333                  4.451765
                    5          -0.500000                  4.415213
                    9          -8.000000                  4.825128
                    10         -9.000000                  4.780744
                    14         -6.714286                  4.997780
     Arizona State  2          32.000000                  3.773333
                    4          34.500000                  2.973623
                    5          27.333333                  3.604638
                    9          22.000000                  4.375353
                    11         18.200000                  4.297466
                    12         18.000000                  4.453907
     Arkansas       2          50.000000                  3.927273
                    3          24.000000                  4.970989
                    5          21.666667                  5.022326
                    9          14.750000                  5.432329
                    12         18.200000                  5.452315
                    14         10.333333                  5.707775
     Arkansas State 4         -12.000000                  6.034091
                    8          -4.000000                  4.932430
                    12          0.333333                  4.695694
                    13         -5.750000                  4.978292
     Army           3         -31.000000                  6.500000
                    6         -17.500000                  5.806962
                    7          -5.333333                  6.132911
                    11         -6.250000                  6.049008
                    13         -6.200000                  5.889206
     Auburn         2          31.000000                  4.120690
                    4          16.000000                  4.358852
                    5          20.666667                  4.104483

                          home.yards_per_play  home.forcedTO  \
Year home.school    Week
2004 Air Force      2                3.816901       0.000000
                    3                5.570215       1.000000
                    6                5.421296       1.333333
                    7                5.412746       1.250000
                    9                5.352732       1.400000
                    12               5.413551       1.500000
                    13               5.564745       1.428571
     Akron          3                6.435897       4.000000
                    7                6.884615       2.000000
                    9                6.510796       2.000000
                    11               6.177969       2.250000
                    13               6.198713       2.000000
     Alabama        2                6.969697       2.000000
                    3                6.310935       2.000000
                    4                6.389939       3.000000
                    6                5.802069       3.000000
                    8                5.754989       2.800000
                    11               5.814641       2.500000
                    13               5.630348       2.428571
     Arizona        2                4.723077       4.000000
                    3                5.051194       2.000000
                    4                4.749407       2.000000
                    5                4.475250       2.500000
                    9                4.383478       2.400000
                    10               4.419102       2.166667
                    14               4.588607       2.714286
     Arizona State  2                5.662791       5.000000
                    4                6.025145       3.000000
                    5                5.123430       3.666667
                    9                5.365300       3.750000
                    11               5.602352       4.000000
                    12               5.651185       3.666667
     Arkansas       2                7.025641       4.000000
                    3                6.607415       2.000000
                    5                6.224616       2.000000
                    9                5.955499       2.250000
                    12               6.037638       2.000000
                    14               5.684804       1.833333